#barky-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 5;
	display: none;
}

.barky-overlay-link {
	position:absolute;
	z-index: 10;
	display: none;
}